---
import Layout from '../../layouts/Layout.astro';

import Content from '../../components/Content/Content.astro';
import Hero from '../../components/Hero/Hero.astro';
---

<Layout>
	<div class="gap-8 2xl:gap-16 flex flex-col md:flex-row h-full w-full overflow-y-auto md:overflow-hidden pb-8 md:pb-0">
		<Hero classes="w-full shrink-0 md:w-[60%] xl:w-[40%] flex flex-col mt-10 md:mt-20 gap-4 2xl:gap-8" />
		<div class="w-full md:flex-1 md:h-full md:overflow-y-scroll no-scrollbar md:scroll-smooth">
			<Content />
		</div>
	</div>
</Layout>
