---
import Pill from './Pill.astro';
---

<section id="Conocimientos" class="w-full wrap-break-word overflow-hidden text-start scroll-mt-40">
    <h2 class="text-2xl xl:text-3xl font-bold mb-4">CONOCIMIENTOS</h2>
    <div class="mx-5 flex flex-col gap-2">
        <div class="flex flex-col gap-1">
            <h3 class="text-sm xl:text-md font-semibold text-gray-500">Idiomas</h3>
            <div class="flex flex-wrap gap-2">
                <Pill>Inglés B2</Pill>
                <Pill>Francés B2</Pill>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <h3 class="text-sm xl:text-md font-semibold text-gray-500">FrontEnd</h3>
            <div class="flex flex-wrap gap-2">
                <Pill>Astro</Pill>
                <Pill>Tailwind CSS</Pill>
                <Pill>TypeScript</Pill>
                <Pill>React</Pill>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <h3 class="text-sm xl:text-md font-semibold text-gray-500">Móvil</h3>
            <div class="flex flex-wrap gap-2">
                <Pill>React Native</Pill>
                <Pill>Expo</Pill>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <h3 class="text-sm xl:text-md font-semibold text-gray-500">Software y Sistemas</h3>
            <div class="flex flex-wrap gap-2">
                <Pill>C</Pill>
                <Pill>Java</Pill>
                <Pill>Python</Pill>
                <Pill>SQL</Pill>
            </div>
        </div>
    </div>   
</section>