---
import Conocimientos from "./Conocimientos.astro";
import Formacion from "./Formacion.astro";
import Proyectos from "./Proyectos.astro";
---

<div id="content-container" class="w-full 2xl:w-2/3 wrap-break-word overflow-hidden flex flex-col gap-8
    md:[&>*:first-child]:mt-20 mb-10">
    <Formacion/>
    <Conocimientos/>
    <Proyectos/>
</div>