---
import Conocimientos from "./Conocimientos.astro";
import Experiencia from "./Experiencia.astro";
import Formacion from "./Formacion.astro";


---

<div id="content-container" class="w-full wrap-break-word overflow-hidden flex flex-col gap-8
    md:[&>*:first-child]:mt-20 mb-10">
    <Formacion/>
    <Conocimientos/>
</div>