---
import Formacion from "./Formacion.astro";
---
<div class="w-full wrap-break-word overflow-hidden flex flex-col gap-8">
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
    <Formacion/>
</div>