---
import Conocimientos from "./Conocimientos.astro";
import Formacion from "./Formacion.astro";
---
<div id="content-container" class="w-full wrap-break-word overflow-hidden flex flex-col gap-8 md:py-10">
    <Formacion/>
    <Conocimientos/>
</div>