<div id="Formacion" class="w-full wrap-break-word overflow-hidden text-start">
    <h2 class="text-2xl xl:text-3xl font-bold mb-4">EXPERIENCIA</h2>

    <ol class="relative mx-5 gap-4 flex flex-col">                  
        <li class="border-s-4 border-default px-4 bg-linear-to-r from-gray-900 via-gray-900 via-80% to-gray-950 ">            
            <h3 class="flex items-center mb-1 text-md xl:text-lg font-semibold text-heading my-2">Doble grado en ingeniería informática y administración de empresas</h3>
            <p class="mb-4 text-body">Estudios universitarios en la Universidad Rey Juan Carlos (URJC) donde estoy aprendiendo a usar tecnologías como <strong class="text-orange-500 dark:text-orange-300">Java, C, Python</strong> entre otras, 
                junto a habilidades de gestión y administración de procesos productivos, contables, y análisis económicos. Además de aprender a trabajar en equipo, a gestionar proyectos y a resolver problemas complejos.
            </p>
        </li>
    </ol>
</div>