<section id="Formacion" class="w-full wrap-break-word overflow-hidden text-start">
    <h2 class="text-2xl xl:text-3xl font-bold mb-4">FORMACIÓN</h2>
    <ol class="relative border-s border-default mx-5 gap-10 flex flex-col">                  
        <li class="ms-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-brand-softer rounded-full -inset-s-3 ring-2 ring-default-medium">
                <svg class="w-3 h-3 text-fg-brand-strong" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
            </span>
            <time class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded">2023 - Presente</time>
            <h3 class="flex items-center mb-1 text-md xl:text-lg font-semibold text-heading my-2">Doble grado en ingeniería informática y administración de empresas</h3>
            <p class="mb-4 text-body">Estudios universitarios en la Universidad Rey Juan Carlos (URJC) donde estoy aprendiendo a usar tecnologías como <strong class="text-orange-500 dark:text-orange-300">Java, C, Python</strong> entre otras, 
                junto a habilidades de gestión y administración de procesos productivos, contables, y análisis económicos. Además de aprender a trabajar en equipo, a gestionar proyectos y a resolver problemas complejos.
            </p>
        </li>
        <li class="ms-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-brand-softer rounded-full -inset-s-3 ring-2 ring-default-medium">
                <svg class="w-3 h-3 text-fg-brand-strong" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
            </span>
            <time class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded">2021 - 2023</time>
            <h3 class="flex items-center mb-1 text-md xl:text-lg font-semibold text-heading my-2">Bachillerato francés (Bachibac)</h3>
            <p class="mb-4 text-body">Realicé un bachillerato francés en el que, además de profundizar en el idioma, aprendí a analizar textos literarios e historicos, a mejorar mis habilidades de comunicación en ambos idiomas y a comprender la cultura francesa. Este bachillerato me ha permitido obtener una visión más amplia del mundo y una mayor capacidad de adaptación a diferentes contextos culturales. 
            </p>
        </li>
        <li class="ms-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-brand-softer rounded-full -inset-s-3 ring-2 ring-default-medium">
                <svg class="w-3 h-3 text-fg-brand-strong" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/></svg>
            </span>
            <time class="bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded">2018 - 2023</time>
            <h3 class="flex items-center mb-1 text-md xl:text-lg font-semibold text-heading my-2">Mis inicios en la programación</h3>
            <p class="mb-4 text-body">
                Con 13 años me uní, y participé hasta los 15 en un curso de desarrollo de videojuegos donde me acerqué al mundo de la programación. Durante esos años y hasta el 2023 
                estuve aprendiendo y especializándome en Unity y C#, donde hice varios proyectos pequeños personales. 
                Vista mi poca habilidad en el diseño gráfico, y motivado por la polémica de precios de Unity del 2023 y mi entrada en la universidad, decidí enfocarme en mis estudios universitarios y en las tecnologías web y móviles.
            </p>
        </li>
    </ol>
</section>