---
import ProfileHero from '../components/ProfileHero.astro';
import Navegacion from './Navegacion.astro';
---
<div class="w-full md:w-[50%] xl:w-[40%] flex flex-col md:h-full mt-10 md:mt-20 gap-16">
	<ProfileHero />
    <Navegacion />
</div>