<div class="hidden md:flex flex-col gap-2 self-end text-end">
    <a href="#Formacion" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">Formacion</a>
    <a href="#Conocimientos" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">Conocimientos</a>
    <a href="#Proyectos" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">Proyectos</a>
</div>

<script>
  function initScrollspy() {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('.nav-link');

    //Que este en medio de la pantalla, aun no encontre una forma natural de coger el ultimo elemento
    const options = {
      root: null, 
      rootMargin: '-50% 0px -50% 0px', 
      threshold: 0 
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const activeId = entry.target.id;
          navLinks.forEach(link => {
            link.classList.remove('text-black', 'dark:text-white', 'font-bold');
            link.classList.add('text-gray-500', 'dark:text-gray-400');
            if (link.getAttribute('href') === `#${activeId}`) {
              link.classList.remove('text-gray-500', 'dark:text-gray-400');
              link.classList.add('text-black', 'dark:text-white', 'font-bold');
            }
          });
        }
      });
    }, options);
    sections.forEach(section => observer.observe(section));
  }

  document.addEventListener('DOMContentLoaded', initScrollspy);
</script>