---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="relative hidden md:flex flex-col gap-2 self-end text-end pr-3 [&>a]:transition-transform [&>a]:duration-300">
    <a href="#Formacion" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">{t('nav.formacion')}</a>
    <a href="#Conocimientos" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">{t('nav.conocimientos')}</a>
    <a href="#Proyectos" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">{t('nav.proyectos')}</a>
    <a href="#Blog" class="nav-link text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300">Blog</a>
    
    <span id="active-dot" class="absolute right-0  text-black dark:text-white font-bold transition-transform duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-caret-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13.883 5.007l.058 -.005h.118l.058 .005l.06 .009l.052 .01l.108 .032l.067 .027l.132 .07l.09 .065l.081 .073l.083 .094l.054 .077l.054 .096l.017 .036l.027 .067l.032 .108l.01 .053l.01 .06l.004 .057l.002 .059v12c0 .852 -.986 1.297 -1.623 .783l-.084 -.076l-6 -6a1 1 0 0 1 -.083 -1.32l.083 -.094l6 -6l.094 -.083l.077 -.054l.096 -.054l.036 -.017l.067 -.027l.108 -.032l.053 -.01l.06 -.01z" /></svg>

    </span>
</div>
<script>
  function initScrollspy() {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('.nav-link');
    const glidingDot = document.getElementById('active-dot');
    const options = {
      root: null, 
      rootMargin: '-50% 0px -50% 0px', 
      threshold: 0 
    };
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const activeId = entry.target.id;
          navLinks.forEach(link => {
            link.classList.remove('text-black', 'dark:text-white', 'font-bold', '-translate-x-4');
            link.classList.add('text-gray-500', 'dark:text-gray-400');
            
            if (link.getAttribute('href') === `#${activeId}`) {
              link.classList.remove('text-gray-500', 'dark:text-gray-400');
              link.classList.add('text-black', 'dark:text-white', 'font-bold', '-translate-x-4');
              
              if (glidingDot) {
                const htmlLink = link as HTMLElement;
                glidingDot.style.transform = `translateY(${htmlLink.offsetTop}px)`;
              }
            }
          });
        }
      });
    }, options);
    sections.forEach(section => observer.observe(section));
  }

  document.addEventListener('DOMContentLoaded', initScrollspy);
</script>