---
import { Image } from "astro:assets";
import mockupPortfolioLight from "../assets/mockups/mockupportfoliolight.jpg";
import mockupPortfolioDark from "../assets/mockups/mockupportfoliodark.jpg";
import mockupphones from "../assets/mockups/mockupphones.jpg";
import ProyectoCard from "./ProyectoCard.astro";
import Pill from "./Pill.astro";
---

<section id="Proyectos" class="w-full wrap-break-word overflow-hidden text-start">
    <h2 class="text-2xl xl:text-3xl font-bold mb-4">PROYECTOS</h2>
    <ol class="relative mx-5 gap-6 flex flex-col">  
        <ProyectoCard 
            srcLight={mockupPortfolioLight}
            srcDark={mockupPortfolioDark}
            title="Portfolio Personal" 
            description="Proyecto de portfolio personal para tener todo en un solo lugar. El código está disponible completo en GitHub con todos los commits, y será actualizado periódicamente según avance en el tiempo."
            linkProyecto="https://github.com/danielgrela/portfolio"
            linkRepo="https://github.com/danielgrela/portfolio"
        >
        <div class="flex flex-row justify-start gap-2 flex-wrap">
            <Pill>Astro</Pill>
            <Pill>Tailwind CSS</Pill>
            <Pill>JavaScript</Pill>
        </div>
        </ProyectoCard>
        <ProyectoCard 
            src={mockupphones} 
            title="Highlights (Proyecto móvil cancelado)" 
            description="Proyecto cancelado de aplicación móvil en Expo para practicar React Native y Nativewind. El repositorio contiene un estado inacabado del proyecto, sin muchas funcionalidades inacabadas, pero con el código base y las reglas de Firebase para que se pueda clonar y comprobar su estado. Entrando en el artículo se extiende la explicación del proyecto y su estado actual." 
            linkRepo="https://github.com/danielgrela/highlights"
        >
        <div class="flex flex-row justify-start gap-2 flex-wrap">
            <Pill>Expo</Pill>
            <Pill>React Native</Pill>
            <Pill>TypeScript</Pill>
            <Pill>Tailwind CSS</Pill>
            <Pill>Firebase</Pill>
        </div>
        </ProyectoCard>
    </ol>
</section>